How many different companies are represented in the data set?

What is the total number of jobs created for businesses in Queens?

How many different unique email domains names are there in the data set?

Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

Save your result for the previous question as a CSV file.

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 26 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Company Name                               450 non-null    object
 1   company contact                            450 non-null    object
 2   company email                              433 non-null    object
 3   company phone                              450 non-null    object
 4   Address                                    450 non-null    object
 5   City                                       450 non-null    object
 6   State                                      450 non-null    object
 7   Postcode                                   450 non-null    int64
 8   Industry                                   450 non-null    object
 9   Industry descr                             434 non-null    object
 10  Company Type                               450 non-null    object
 11  Current fulltime                           446 non-null    float64
 12  Job created                                11 non-null     float64
 13  Job retain                                 14 non-null     float64
 14  Effective Date                             450 non-null    object
 15  Total Savings                              450 non-null    float64
 16  Savings from beginning receiving benefits  450 non-null    float64
 17  Borough                                    450 non-null    object
 18  Latitude                                   409 non-null    float64
 19  Longitude                                  409 non-null    float64
 20  Community Board                            409 non-null    float64
 21  Council District                           409 non-null    float64
 22  Census Tract                               409 non-null    float64
 23  BIN                                        401 non-null    float64
 24  BBL                                        401 non-null    float64
 25  NTA                                        409 non-null    object
dtypes: float64(12), int64(1), object(13)
memory usage: 91.5+ KB

In [14]:
# How many different companies are represented in the data set?
count_company= df['Company Name'].nunique()
count_company

439

In [18]:
# What is the total number of jobs created for businesses in Queens?
df.loc[df['Borough'] == 'Queens', 'Job created'].sum()

102.0

In [25]:
# How many different unique email domains names are there in the data set?
df[['email', 'domain']]= df['company email'].str.split('@', expand=True)
count_domain= df['domain'].nunique()
count_domain

357

In [26]:
df['NTA']

0                                                Midwood
1                 SoHo-TriBeCa-Civic Center-Little Italy
2                      Battery Park City-Lower Manhattan
3                                       Sunset Park West
4                      Battery Park City-Lower Manhattan
                             ...
445                                       Bushwick South
446                                       Bushwick South
447    Mariner's Harbor-Arlington-Port Ivory-Granitev...
448                                  Crown Heights North
449                                              Astoria
Name: NTA, Length: 450, dtype: object

In [29]:
df2 = df.groupby(['NTA'])['Company Name'].count()
df2

NTA
Astoria                               3
Baisley Park                          1
Battery Park City-Lower Manhattan     9
Bedford                               3
Bensonhurst West                      1
                                     ..
Whitestone                            3
Williamsburg                          1
Windsor Terrace                       1
Woodside                              3
park-cemetery-etc-Brooklyn           15
Name: Company Name, Length: 79, dtype: int64

In [33]:
result = df.groupby('NTA').aggregate({'Company Name':'count','Total Savings':'mean','Job created':'sum'})
print(result)

                                   Company Name  Total Savings  Job created
NTA
Astoria                                       3   11409.986667          0.0
Baisley Park                                  1   21522.740000          0.0
Battery Park City-Lower Manhattan             9  469890.796667          0.0
Bedford                                       3   62113.343333          0.0
Bensonhurst West                              1    -379.470000          0.0
...                                         ...            ...          ...
Whitestone                                    3   62038.306667         10.0
Williamsburg                                  1   23570.080000          0.0
Windsor Terrace                               1   78573.320000          0.0
Woodside                                      3    5625.736667          0.0
park-cemetery-etc-Brooklyn                   15   14327.419333          0.0

[79 rows x 3 columns]

In [36]:
result = result[result['Company Name']>4]
print(result)

                                                  Company Name  Total Savings  \
NTA
Battery Park City-Lower Manhattan                            9  469890.796667
Bushwick South                                              10   26140.455000
Carroll Gardens-Columbia Street-Red Hook                    11   24337.390000
College Point                                                7   17159.372857
Crown Heights North                                          9    4036.298889
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill            10   59950.340000
East New York                                                9   48433.093333
East Williamsburg                                           11   13990.626364
Greenpoint                                                  14    9753.649286
Hunters Point-Sunnyside-West Maspeth                        75   23931.398933
Hunts Point                                                 13   39246.016154
Manhattanville                                               9    2760.888889
Maspeth                                                      9    6658.283333
Mott Haven-Port Morris                                      14   17843.937857
Queensbridge-Ravenswood-Long Island City                    16   61830.770625
Steinway                                                     7   11227.155714
Sunset Park West                                            48   14316.976875
park-cemetery-etc-Brooklyn                                  15   14327.419333

                                                  Job created
NTA
Battery Park City-Lower Manhattan                         0.0
Bushwick South                                           10.0
Carroll Gardens-Columbia Street-Red Hook                  0.0
College Point                                             2.0
Crown Heights North                                       0.0
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill          0.0
East New York                                            15.0
East Williamsburg                                         0.0
Greenpoint                                                0.0
Hunters Point-Sunnyside-West Maspeth                      0.0
Hunts Point                                              12.0
Manhattanville                                            0.0
Maspeth                                                  10.0
Mott Haven-Port Morris                                   10.0
Queensbridge-Ravenswood-Long Island City                  0.0
Steinway                                                 20.0
Sunset Park West                                          0.0
park-cemetery-etc-Brooklyn                                0.0